.searchbox {
  position: relative;
  width: 700px;
  height: 45px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.search-style {
  width: calc(100% - 40px); /* Adjust width to leave space for the icon box */
  height: 100%;
  padding: 10px;
  padding-right: 40px; /* Ensure text doesn't overlap the icon */
  border-radius: 10px;
  border: solid 2px #3d61ef;
  box-sizing: border-box; /* Include padding in width calculation */
}

.search-icon {
   
  color: #dddddd;
  width: 20px;
  height: 20px;
}

.search-icon-box {
  position: absolute;
  right: 0; /* Position icon box to the right of the search box */
  top: 0;
  background-color: rgb(90, 68, 234);
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 45px;
  border-radius: 0 15px 15px 0; /* Match border-radius of input */
}