@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:500");




.footer-container {
  
    /* max-width: 1280px; */
    width: 100%;
    margin: 0 auto;
 
     
     display: flex;
     justify-content: center;
     margin-top: 30px;
     flex-direction: column;
     align-items: center;
      
     transition: 0.5s;
     z-index: 1000;
     background: rgb(2, 0, 36);
      align-items: center;
     background: linear-gradient(
       90deg,
       rgb(243, 243, 243) 3%,
       rgba(255, 255, 255, 0.925) 100%,
       rgb(255, 255, 255) 100%
     );
     min-height: 100px;
    
  
}

 
    
.footer-flex {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }

.footer-first { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}


    
.footer-first , ul { 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 90px;

}

.footer-first , ul, li { 
  font-size: 17px;
  font-weight: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.footer-first , ul, li:hover { 

  color: #4412c3;
  transition: ease-in-out 0.2s;
}


.footer-first-flex {

  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    min-height: 50px;
    /* border: 1px solid red; */
}


