.searchbox {
  position: relative;
  width: 500px;
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.search-style {
  width: calc(100% - 40px); /* Adjust width to leave space for the icon box */
  height: 100%;
  padding: 10px;
  padding-right: 40px; /* Ensure text doesn't overlap the icon */
  border-radius: 20px;
  border: solid 1px #223582;
  box-sizing: border-box; /* Include padding in width calculation */
}

.search-icon {
  color: #671d1d;
  width: 20px;
  height: 20px;
}

.search-icon-box {
  position: absolute;
  right: 0; /* Position icon box to the right of the search box */
  top: 0;
  background-color: rgb(47, 20, 222);
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius:   15px 15px 0; /* Match border-radius of input */
}


